.navbar-brand img {
  width:20%;
}

.can {
  margin: 0 auto;
}

/* Can Info section*/
.infoCircle{
  width:25px;
  height:25px;
  display:block;
  position:relative;
  margin:10% auto;
  transform:scale(5,5);
  -webkit-transform:scale(5,5);
}

#info1 {
  bottom: 850px;
  right: -310px;
}

#info2 {
  bottom: 500px;
  right: 20px;
}

#info3 {
  bottom: 300px;
  right: 720px;
}

.firstCircle,
.secondCircle,
.thirdCircle{
  top:50%;
  left:50%;
  display:block;
  border-radius:50%;
  position:absolute;
  vertical-align:middle;
  cursor:pointer;
}

.firstCircle{
  width:10px;
  height:10px;
  margin:-6px 0 0 -6px;
  background-color:#FF6961;
}

.secondCircle{
  width:16px;
  height:16px;
  margin:-9px 0 0 -9px;
  border:1px solid #FF6961;
  animation:2000ms pulseIn ease-in-out infinite;
  -webkit-animation:2000ms pulseIn ease-in-out infinite;
}

@keyframes pulseIn{
  0%{
    opacity:0;
    transform:scale(0.2,0.2);
  }
  50%{
    opacity:1;
    transform:scale(1,1);
  }
  100%{
          opacity:0;
    transform:scale(0.2,0.2);
  }
}

@-webkit-keyframes pulseIn{
        0%{
    opacity:0;
    -webkit-transform:scale(0.2,0.2);
  }
  50%{
    opacity:1;
    -webkit-transform:scale(1,1);
  }
  100%{
          opacity:0;
    -webkit-transform:scale(0.2,0.2);
  }
}

.thirdCircle{
  width:24px;
  height:24px;
  border:1px solid #FF6961;
  margin:-13px 0 0 -13px;
  animation:2000ms pulseIn 500ms ease-in-out infinite;
  -webkit-animation:2000ms pulseIn 500ms ease-in-out infinite
}



/*Modal style */
.modal-body img {
  padding: 5px 5px 15px 15px;
  width: 35%;
  float: right;
}

.modal-body h4 {
  padding-bottom:30px;
}

.modal-body button:hover {
  background-color: #FF6961;
}
